.bgimage{
    width: 120%;
    height: 750px;
    margin-right: 0;
}

.column {
    float: left;
    width: 45%;
    padding: 10px;
    
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.firstpara{
    margin-top: 30%;
    text-align: center;
}